body{
    background: #fa5e59;
}
H1{
    text-align: center;
    font-size: 60px;

    color: #130e0e;
    margin-top: 100px;
    transition: 1s;
}
h1:hover{
    color: rgb(255, 163, 127);
    font-size: 80px;
}

a img{
    width: 50px;
}
 img{

    width: 100%;
 }
  
 #algoritmos{
  background:url("../img/pexels-сергей-костяев-8601741.jpg");
  background-size: cover ;
  background-repeat: none;
  text-align: center;
  padding: 100px;
 }
 #algoritmos h1{
     color: #a82020;
     font-size: 40px;

}

